<%= form_with(model: photo) do |form| %>
<div class="space-y-8 divide-y divide-gray-200">
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <div>
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          Upload Photo
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Your photo will be stored via ActiveStorage.
        </p>
      </div>

      <div class="mt-6 space-y-6 sm:mt-5 sm:space-y-5">
        <% if photo.errors.any? %>
        <div id="error_explanation" class="rounded-md bg-red-50 p-4">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- Heroicon name: solid/x-circle -->
              <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <h3 class="text-sm font-medium text-red-800">
                <%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved
              </h3>
              <div class="mt-2 text-sm text-red-700">
                <ul class="list-disc pl-5 space-y-1">
                  <% photo.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <div class="form-control sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <%= form.label :label, class: "label" %>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= form.text_field :label, class: "input input-primary input-bordered w-full" %>
          </div>
        </div>

        <div class="form-control sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label for="cover_photo" class="label">
            Cover photo
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <%= form.file_field :image %>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="flex justify-end">
        <button type="button" class="btn btn-ghost">
          Cancel
        </button>
        <%= form.submit class: "ml-3 btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
